Q1

In [1]:
var=['akshay',[1,2,3,'web dev'],45.64,("rohit","virat")]

In [2]:
var

['akshay', [1, 2, 3, 'web dev'], 45.64, ('rohit', 'virat')]

In [3]:
for i in var:
    print(i)

akshay
[1, 2, 3, 'web dev']
45.64
('rohit', 'virat')

Q2

The data type of:
  var1 is str (string)
  var2 is str (string)
  var3 is list
  var4 is int (integer)

Just for verification

In [4]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3

In [5]:
#(i) / - used for basic division
7/4

1.75

In [6]:
#(ii) % - modulus operator used for finding the remainder
8%7

1

In [7]:
#(iii) // - used for floor division,while dividing a number,it will give the nearest/lower integer value
19//4

4

In [8]:
#(iv) // -used for finding power
3**4

81

Q4

In [9]:
list=[1,2,"akshay",True,21.65,"aditya","naman",False,67.34,9]
for i in list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
akshay
<class 'str'>
True
<class 'bool'>
21.65
<class 'float'>
aditya
<class 'str'>
naman
<class 'str'>
False
<class 'bool'>
67.34
<class 'float'>
9
<class 'int'>

Q5

In [10]:
a=int(input())
b=int(input())
count=0
while(a>b):
    if(a%b==0):
        print("divisible")
        while(a%b==0):
            a=a/b
            count+=1
        break
    elif(a%b!=0):
        print("not divisible")
        break
	
   	
else:
    print("Cannot execute")
print(count)

 4
 2

divisible
2

Q6

In [11]:
list=range(25)

In [12]:
list

range(0, 25)

In [13]:
for i in list:
    if(i%3==0):
        print(i)

0
3
6
9
12
15
18
21
24

Q7

Mutable Data Types - These are data types to which we can reassign the value based on indexes.
Example : List

Immutable Data Types - These are data type to which we can not reassign a new value to the current index postion.
Example : String

In [14]:
list=[1,2,'akshay',12.36,True,'rushabh']
str='akshay'

In [15]:
list[2]='naman'
str[1]='a'

TypeError: 'str' object does not support item assignment

In [16]:
list

[1, 2, 'naman', 12.36, True, 'rushabh']

In [17]:
str

'akshay'

Here we can see for str,it does not support reassignment,thus giving type error